<div class="text-center container py-5" cz-shortcut-listen="true">
  <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="!controls['name'].valid">{{ errors['name'] }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Login</mat-label>
      <input matInput formControlName="login" />
      <mat-error *ngIf="!controls['login'].valid">{{ errors['login'] }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="!controls['email'].valid">{{ errors['email'] }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
      <mat-error *ngIf="!controls['password'].valid">{{ errors['password'] }}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!regForm.valid" class="submit-button">Sign Up</button>
  </form>
</div>
